.fighters___root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url('../../resources/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fighters___list {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighters___fighter {
  height: 150px;
  max-width: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
  position: relative;
}

.fighters___fighter:hover {
  background: #cbe4f8;
  border: 5px solid #267abf;
}

.fighters___fighter___active {
  background: #9ef5a5;
  border: 5px solid #26bf2e;
}

.fighters___fighter___disabled {
  background: #bbbbbb;
  border: 5px solid #4a4d4a;
}

.fighters___list___hidden {
  visibility: hidden;
}
